* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  height: 30%;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgb(242, 228, 228);
}

/*log*/
#logo img {
  height: 60px;
  width: 60px;
}
#social-items {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.social-icons {
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;
}
span {
  text-align: center;
}
article {
  margin-top: 100px;
}
#image-section {
  display: flex;
  height: 400px;

  overflow: hidden;
  border-radius: 10px;
}
#image-section div {
  width: 33%;
  position: relative;
  transition: width 2s;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#image-section div:hover {
  width: 80%;
}

#login-items {
  width: 7%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.type-of-exercise {
  font-size: 20px;
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
  z-index: +2;
}
.arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: +2;
  color: white;
}
